/* style.css */
body {
  font-family: Arial, sans-serif;/*define a fonte da página*/
  background-color: #f4f4f4;/*define a cor de fundo da pagina*/
  padding: 20px;/*da espaço em todo campo da página*/
}
.container {/*classe geralmente usada para centralizar e formatar o bloco principal*/ 
  max-width: 700px;/*define a largura do conteudo*/
  margin: auto;/* centraliza na tela*/
  background: white;/*cor de fundo do campo*/
  padding: 20px;/*espaço interno do campo*/
  border-radius: 10px;/*arredonda o campo*/
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);/*sobreia o campo*/
}
form label {/*pega informações do formulário*/
  display: block;/*faz com que o conteudo ocupe toda largura da linha*/
  margin-top: 10px;/*separa as linhas anteriores*/  
}
input {/*pega todos os dados*/
  width: 100%;/*ocupa a largura disponível*/
  padding: 8px;/*da um espaço interno para o texto não colar nas bordas*/
  margin-top: 5px;/*espaço entre o input(dados) e o form*/  
}
button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
#resultado {/*ocupa a parte div e mostra o resultado*/
  margin-top: 20px;
}
.tabela-numeros {/*cria a tabela de numeros*/
  display: grid;/*chama o css grid layout*/
  grid-template-columns: repeat(10, 1fr);/*cria 10 colunas*/
  gap: 5px;/*espaçamento entre os números*/
  margin-bottom: 30px;/*espaço entre uma tabela e outra*/
}
.numero {/*preenche cada numero da tabela*/
  width: 100%;
  padding: 10px 0;
  text-align: center;/*deixa o numero centralizado*/  
  background-color: #e0e0e0;
  border-radius: 5px;/*deixa os quadrados arredondados*/
}
.sorteado {/*mostra os numeros sorteados*/
  background-color: #FF4500;
  color: white;
  font-weight: bold;/*deixar o texto em negrito*/
}



